<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Based</title>
    <link rel="stylesheet" href="/public/css/user_based.css">
</head>
<body>
    
    <div class="backk">
        <img src="..\public/images/background_img.jpg" alt="" class="back">
        <div class="initial_movie">
            User Based Recommedations
        </div>
        <div class="form_div_user">
            <form action="../views/results.html">
                <input class="m-name" type="number" name="user-name">
                <button type="submit" class="submit">Get Recommendations</button>
            </form>
        </div>
    </div>

</body>
</html>